<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div>
        <form ng-submit="getData()">
            <div class="mb-3">
                <label for="delete" class="form-label">Select ID</label>
                <select class="form-select form-select-lg" ng-model="searchid" id="" required ng-change="getData()"
                    ng-options="data.fid for data in data1">
                    <option selected disabled value="">Select one</option>
                </select>
            </div>
       
        <div class="d-flex justify-content-center">
            <input type="submit" value="Search" class="btn btn-info" />
        </div>
        </form>
        <section id="tableSection" class="container mt-5">
            <table class="table table-striped">
                <thead>
                    <tr class="bg-primary">
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Spice</th>
                        <th scope="col">Food type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in datas">
                        <td scope="row">{{data.fid}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.description}}</td>
                        <td>{{data.price}}</td>
                        <td>{{data.spice}}</td>
                        <td>{{data.ftype}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>