<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>

<body>
    <br> <br>
    <div id="reg">
        <h2 id="heading">Update a Food Item</h2>
        <form ng-submit="updateEntry()">
            <div class="container">
               
                    <div >
                        <label for="id" >Id</label>
                        <select ng-model="fid" id="" required ng-options="data.fid for data in datas" ng-change="getId()">
                            <option selected disabled value="">Select one</option>
                        </select>
                 
                    </div>
                    <br>
                    <label for="fn"> Dish Name: </label>   
                  <input type="text" name="name" id="fn" placeholder= "Dish name"  size="15" ng-model="name"  />   
                  
                
                  <br> 
                  <label>   
                  Price :  
                  </label>  
                  
                  <input type="number" name="price" id="price" placeholder="price"  size="10" ng-model="price" />   
                  <br>
                  <label>  Description :  </label>
                  <input type="text"  placeholder="Enter Description"  name="description" ng-model="description" />  
                 
                  <div> 
                    <br> 
                    
                  <label>   
                  Spice Level :  
                  </label>
                  <input type="radio" value="High" name="spice" ng-model="spice" checked > High   
                  <input type="radio" value="Medium" name="spice" ng-model="spice"> Medium   
                  <input type="radio" value="Low" name="spice" ng-model="spice"> Low  
                    
                  </div> 
                  <br>
                 
                    <label>   
                    Food Type :  
                    </label>
                    <input type="radio" value="Appetiser" name="ftype" checked ng-model="ftype"> Appetiser   
                    <input type="radio" value="Main Course" name="ftype" ng-model="ftype"> Main Course   
                    <input type="radio" value="Dessert" name="ftype" ng-model="ftype"> Dessert  
                      
            <div class="mt-5 d-flex justify-content-center">
                <input type="submit" value="Update" class="btn btn-secondary">
            </div>
        </form>
    </div>
</body>

</html>